# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

.vscode
.idea/.gitignore
.idea/gatsbyblog.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml